<div>
  <%= form({action: "/fetch", method: "POST", "data-remote": "true"}) { %>
    <p>&nbsp;</p>
    <%= f.InputTag({value: input, name: "input"}) %>
    <button class="btn btn-primary" type="submit">Search</button>
  <% } %>

  <span class="badge badge-<%= badge %>"><%= badge %></span>

  <div class="progress" style="display: none;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>
</div>

<div class="row">
  <h2 class="well col-md-12 btn" data-toggle="collapse" data-target="#presentlist">Present</h2>
</div>
<div class="row">
  <div class="col-md-12 collapse in" id="presentlist">
    <%= if (present && len(present) > 0) { %>
      Count: <%= len(present) %> <br>
      <%= for (k, v) in present { %>
        <b><%= k %></b>: <a href="<%= v %>"><%= v %></a> </br>
      <% } %>
    <% } %>
  </div>
</div>

<div class="row">
  <h2 class="well col-md-12 btn" data-toggle="collapse" data-target="#missinglist">Missing</h2>
</div>
<div class="row">
  <div class="col-md-12 collapse" id="missinglist">
    <%= if (missing && len(missing) > 0) { %>
      <%= for (k, v) in missing { %>
        <b><%= k %></b>: <a href="<%= v %>"><%= v %></a> </br>
      <% } %>
    <% } %>
  </div>
</div>

<div class="row">
  <h2 class="well col-md-12 btn" data-toggle="collapse" data-target="#unknownlist">Unknown</h2>
</div>
<div class="row">
  <div class="col-md-12 collapse" id="unknownlist">
    <%= if (unknown && len(unknown) > 0) { %>
      <%= for (k, v) in unknown { %>
        <b><%= k %></b>: <a href="<%= v %>"><%= v %></a> </br>
      <% } %>
    <% } %>
  </div>
</div>